/* FOOTER */

.piedepagina {
    background-color: #fcf4f4;
    text-align: center;
}

.contactame {
    height: auto;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5rem;
    color: rgb(82, 24, 24);

}