.titulo {
    background-color: rgb(229, 192, 220);
    border-radius: 10px;
    color: rgb(33, 4, 36);
    font-family: 'WindSong', cursive;
	font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(104, 95, 103);
    margin-left: 5%;
    margin-right: 5%;
	margin-top: 0%;
}

.titulosecundario {
    color: rgb(3, 3, 37);
    font-family: 'Merienda', cursive;
	font-size: 18px;
    text-align: center;
}